/* Input */

/* Small white */
div.page .font-scale-4 .lp-form-react-select,
div.page .font-scale-4 .lp-form-react__input {
    height: 48px;
    border-radius: 8px;
    font-family: lotagrotesque-regular,source sans pro,arial,sans-serif !important;
    background-color: #FFFFFF;
    border-width: 1px;
    border-color: #D3D3D2;
    padding: 0 1em;
    -webkit-appearance: none;
    font-size: 16px;
}
div.page .font-scale-4 .lp-form-react__input:focus {
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    border: none;
    background-color: #FFFFFF;
}

/* Large gray */
div.page .font-scale-6 .lp-form-react__input {
    height: 2.5em;
    border-radius: 8px;
    font-family: lotagrotesque-regular,source sans pro,arial,sans-serif !important;
    background-color: #D3D3D2;
    border-width: 0px;
    border-color: #D3D3D2;
    padding: 0 1em;
    -webkit-appearance: none;
}
div.page .font-scale-6 .lp-form-react__input:focus {
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    border: none;
    background-color: #FFFFFF;
}

/* Textfield */
div.page .font-scale-4 .lp-form-react__textarea,
div.page .font-scale-6 .lp-form-react__textarea {
    height: 96px;
    padding-top: 8px;
}

/* Font */
::-webkit-input-placeholder {
    font-family: lotagrotesque-regular,source sans pro,arial,sans-serif !important;
}
::-moz-placeholder {
    font-family: lotagrotesque-regular,source sans pro,arial,sans-serif !important;
  }
:-ms-input-placeholder {
    font-family: lotagrotesque-regular,source sans pro,arial,sans-serif !important;
  }
:-moz-placeholder {
    font-family: lotagrotesque-regular,source sans pro,arial,sans-serif !important;
  }

/* Error */
.lp-form-react__error.lp-form-react__error--required {
    color: #A52E16 !important;
    font-family: lotagrotesque-regular,source sans pro,arial,sans-serif !important;
    }
.lp-form-react__group.js-required .lp-form-react__input {
    border: #A52E16 !important;
    box-shadow: #A52E16 0 0 1.5px 1px !important;
    }
label.lp-form-react__error > span {
    font-size: 12px;
    }
