/* Page */
.site div.container {
    max-width: 1312px;
    padding-left: 24px;
    padding-right: 24px;
}

.widget {
    padding: 8px 0;
}

@media (min-width: 1344px) {
    div.container {
        width: 1312px;
        padding: 0px;
        max-width: calc(100vw - (100vw - 100% + 32px));
    }
}

/* Sections */

/* 10 columns centered */
.site div[id$='10-col'] {
    max-width: 1088px;
}

/* 8 columns centered */
.site div[id$='8-col'] {
    max-width: 864px;
}

/* 6 columns centered */
.site div[id$='6-col'] {
    max-width: 640px;
}

/* Flex */
.layout.flex {
    --cols-md-9: calc(12/9);
    --cols-md-8: calc(12/8);
    --cols-md-7: calc(12/7);
    --cols-md-6: 2;
    --cols-md-4: 3;
    --cols-md-3: 4;
    --cols-md-5: calc(12/5);
    --cols-md-2: 6;
    --cols-md-1: 12;
    --gap: 32px;
    gap: var(--gap);
}

@media (max-width: 767px) {
    .layout.flex {
        --cols-md-9: 1;
        --cols-md-8: 1;
        --cols-md-7: 1;
        --cols-md-6: 1;
        --cols-md-4: 1;
        --cols-md-3: 1;
        --cols-md-5: 1;
        --cols-md-2: 1;
        --cols-md-1: 1;
        --gap: 0px;
    }
}

.column.flex__item--md-1.flex__item--xs-12 {
    flex-basis: calc(100% / var(--cols-md-1) - var(--gap) / var(--cols-md-1) * (var(--cols-md-1) - 1));
}

.column.flex__item--md-2.flex__item--xs-12 {
    flex-basis: calc(100% / var(--cols-md-2) - var(--gap) / var(--cols-md-2) * (var(--cols-md-2) - 1));
}

.composite.flex__item--md-3.flex__item--xs-12,
.column.flex__item--md-3.flex__item--xs-12 {
    flex-basis: calc(100% / var(--cols-md-3) - var(--gap) / var(--cols-md-3) * (var(--cols-md-3) - 1));
}

.column.flex__item--md-4.flex__item--xs-12 {
    flex-basis: calc(100% / var(--cols-md-4) - var(--gap) / var(--cols-md-4) * (var(--cols-md-4) - 1));
}

.column.flex__item--md-5.flex__item--xs-12 {
    flex-basis: calc(100% / var(--cols-md-5) - var(--gap) / var(--cols-md-5) * (var(--cols-md-5) - 1));
}

.column.flex__item--md-6.flex__item--xs-12 {
    flex-basis: calc(100% / var(--cols-md-6) - var(--gap) / var(--cols-md-6) * (var(--cols-md-6) - 1));
}

.column.flex__item--md-7.flex__item--xs-12 {
    flex-basis: calc(100% / var(--cols-md-7) - var(--gap) / var(--cols-md-7) * (var(--cols-md-7) - 1));
}

.composite.flex__item--md-8.flex__item--xs-12,
.column.flex__item--md-8.flex__item--xs-12 {
    flex-basis: calc(100% / var(--cols-md-8) - var(--gap) / var(--cols-md-8) * (var(--cols-md-8) - 1));
}

.composite.flex__item--md-9.flex__item--xs-12 {
    flex-basis: calc(100% / var(--cols-md-9) - var(--gap) / var(--cols-md-9) * (var(--cols-md-9) - 1));
}

/* Customer <XS */
@media (max-width: 767px) {
    div[id^='customer'] .flex--12 .flex__item--md-3 {
        flex-basis: calc(100% / 3 - var(--gap) / 3 * (3 - 1));
    }

    div[id^='customer']>.layout>div.column:nth-of-type(n+4) {
        display: none;
    }
}

/* Header */
div#header-section {
    max-width: 100%;
    width: 100%;
    padding: 0 24px;
}

#header-section .inner-column {
    padding: 0px;
}

@media (max-width: 959px) {
    div#header-section {
        margin: 0 16px;
    }
}

@media (min-width: 80em) {
    #header-section .inner-column {
        padding: 0px;
    }

    #header-section>.layout {
        padding: 0 24px;
    }
}


section.header-section.flexed-header {
    height: 72px;
    display: flex;
    align-items: center;
}

section.header-section.flexed-header .widget {
    padding: 0;
}

section.header-section.flexed-header .lp-nav__link {
    margin-left: 0px;
    margin-right: 24px;
}

section.header-section.flexed-header .lp-nav__link:after {
    height: 0px;
}

@media (max-width: 992px) {
    .site-nav .header-section div {
        text-align: left;
    }

    .lp-icon-react__icon {
        display: none;
    }

    svg.js-close-side-nav.lp-icon-react__icon {
        display: block;
    }

    svg.js-close-side-nav.lp-icon-react__icon:after,
    .mobile-nav-trigger--show:after {
        content: url(https://lokalguiden-public.s3.amazonaws.com/leadpages/svg/global/menu.svg);
        display: table-cell;
        height: 24px;
        width: 24px;
        visibility: visible;
    }

    a.lp-image-react-container.lp-icon-react__icon--linked {
        z-index: 29;
        position: relative;
    }
}

/* Header nav */
.lp-subnav--popper .lp-subnav {
    background-color: #FFF;
    border-radius: 8px;
    padding: 8px 0;
}

.lp-nav .lp-subnav--popper .lp-subnav a.lp-nav__link.lp-subnav__link {
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    height: 32px;
    width: 100%;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding: 0 12px;
}

.lp-nav .lp-subnav--popper .lp-subnav a.lp-nav__link.lp-subnav__link:hover {
    background-color: rgba(0, 0, 0, 8%);
}

a.lp-nav__link.lp-subnav__link:hover:after {
    width: 0px;
    transition: none !important;
    background-color: aqua;
}

a.lp-nav__link.lp-subnav__link.lp-nav__link--active:after {
    width: 0px !important;
}

.site-header>.mobile-nav-trigger {
    right: 16px !important;
}

/* Side nav */
.site-header .show-side-nav {
    width: 100%;
    transition: none !important;
}

.site-header .js-side-nav {
    transition: none !important;
    padding: 16px;
}

.site-header .show-side-nav .widget {
    padding: 0px;
}

.js-side-nav .lp-nav__link-container .lp-nav__link {
    font-size: 18px;
}

.js-close-side-nav.lp-icon-react__icon {
    width: 32px;
    height: 32px;
}

.js-close-side-nav.lp-icon-react__icon:before {
    content: url(https://lokalguiden-public.s3.amazonaws.com/leadpages/svg/global/menu.svg);
    display: table-cell;
    height: 24px;
    width: 24px;
    visibility: visible;
}

@media (max-width: 992px) {
    .lp-nav .lp-nav__link-container .subnav__icon--mobile {
        margin-top: 12px;
    }
}

.show-side-nav>div:first-of-type {
    text-align: right;
}

svg.js-close-side-nav.lp-icon-react__icon {
    display: inline-block;
}

.js-side-nav a.lp-nav__link.lp-subnav__link {
    font-size: 14px;
}

.js-side-nav .lp-nav__link-container .lp-subnav {
    padding: 0;
}

.site-header .show-side-nav .lp-nav__link::after {
    width: 0px;
}

.body--nav-open .header-logo-element {
    filter: brightness(0.1);
    transition: filter 0.5s ease-in-out;
}

.header-logo-element {
    transition: filter 0.1s ease-in-out;
}

.show-side-nav .lp-button-react--small {
    padding: 14px 24px;
    min-height: 48px;
    font-size: 1.125rem;
}

/* Hero */
div[id^="hero_bg"].container {
    margin: 0;
    max-width: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

/* Spacing */
.lp-space-react {
    height: 0px !important;
}

@media (min-width:48em) {
    .lp-space-react {
        height: 16px !important;
    }
}

/* Newsletter */
div[id^="newsletter"] .layout.flex {
    --gap: 0px;
    border-radius: 24px;
    background-color: #B4DBC9;
}

/* Images */
div[id^='customers'] img {
    mix-blend-mode: multiply;
}

/* Tile */
div[id^="tile"] .inner-column {
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 16%);
}