/* Typhography */

/* Standard color */
div.page h1,
div.page h2,
div.page h3,
div.page h4,
div.page h1.display,
div.page p {
    color: #181a1b
}

/* Variables */
:root {
    --h1: 3.75rem;
    --h2: 3rem;
    --h3: 2.125rem;
    --h4_preamble: 1.5rem;
    --h5: 1.35rem;
    --h6_body1: 1.25rem;
    --subtitle1: 18px;
    --standard: 16px;
    --subtitle2_body2: 14px;
    --caption_information: 12px;
    --overline: 10px;
}

.font-scale-1 {
    font-size: 0.625rem;
}

.font-scale-2 {
    font-size: 0.75rem;
}

.font-scale-3 {
    font-size: 0.875rem;
}

.font-scale-4 {
    font-size: 1rem;
}

.font-scale-5 {
    font-size: 1.125rem;
}

.font-scale-6 {
    font-size: 1.25rem;
}

.font-scale-7 {
    font-size: 1.375rem;
}

.font-scale-8 {
    font-size: 1.5rem;
}

@media (max-width: 767px) {

    .font-scale-9 {
        font-size: 1.375rem;
    }

    .font-scale-10 {
        font-size: 1.5rem;
    }

    .font-scale-11 {
        font-size: 1.75rem;
    }

    .font-scale-12 {
        font-size: 2rem;
    }

    .font-scale-13 {
        font-size: 2.25rem;
    }

    .font-scale-14 {
        font-size: 2.5rem;
    }

    .font-scale-15 {
        font-size: 2.875rem;
    }

    .font-scale-16 {
        font-size: 3.25rem;
    }

    .font-scale-17 {
        font-size: 3.625rem;
    }
}

@media (min-width: 768px) and (max-width: 1343px) {

    .font-scale-9 {
        font-size: 1.5rem;
    }

    .font-scale-10 {
        font-size: 1.75rem;
    }

    .font-scale-11 {
        font-size: 2rem;
    }

    .font-scale-12 {
        font-size: 2.25rem;
    }

    .font-scale-13 {
        font-size: 2.5rem;
    }

    .font-scale-14 {
        font-size: 2.875rem;
    }

    .font-scale-15 {
        font-size: 3.25rem;
    }

    .font-scale-16 {
        font-size: 3.625rem;
    }

    .font-scale-17 {
        font-size: 4rem;
    }
}

@media (min-width: 1344px) {

    .font-scale-9 {
        font-size: 1.75rem;
    }

    .font-scale-10 {
        font-size: 2rem;
    }

    .font-scale-11 {
        font-size: 2.25rem;
    }

    .font-scale-12 {
        font-size: 2.5rem;
    }

    .font-scale-13 {
        font-size: 2.875rem;
    }

    .font-scale-14 {
        font-size: 3.25rem;
    }

    .font-scale-15 {
        font-size: 3.625rem;
    }

    .font-scale-16 {
        font-size: 4rem;
    }

    .font-scale-17 {
        font-size: 4.625rem;
    }
}


/* =================   List bullet   ===================== */
div.page .lp-list--bullet li::before {
    transform: scale(1);
}

/* =================   List numbered   ===================== */
div.page ul.lp-list--numbered li::before {
    font-family: lotagrotesque-semibold, "Source Sans Pro", -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Segoe UI", "Trebuchet MS", Arial, Helvetica, system-ui, sans-serif;
    font-weight: 600;
}

/* List icon */
div.page .lp-list--icon.text-align-left li::before {
    left: 0;
}


/* Order number circle */
div[id^='order'] s {
    background-color: #0f8dbb;
    color: white;
    text-decoration: none;
    padding: 8px;
    margin-right: 8px;
    margin-left: -4px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

/* Streamline Icomoon list */
.lp-list li::before {
    font-family: 'icomoon', 'Font Awesome 5 Free';
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Customer statements */
div[id^='statements'] {
    color: #FFFFFF;
    text-align: center;
}

div[id^='statements'] p.quote {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 8px;
    font-family: lotagrotesque-regularit, "Source Sans Pro", -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Segoe UI", "Trebuchet MS", Arial, Helvetica, system-ui, sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #FFFFFF;
}

div[id^='statements'] span.by-line strong {
    font-family: lotagrotesque-semibold, "Source Sans Pro", -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Segoe UI", "Trebuchet MS", Arial, Helvetica, system-ui, sans-serif;
    font-weight: 600;
}

div[id^='statements'] span.by-line {
    font-weight: 400;
    font-family: lotagrotesque-regular, "Source Sans Pro", -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Segoe UI", "Trebuchet MS", Arial, Helvetica, system-ui, sans-serif;
}

/* Count up */
div[id^='statistics-'] {
    font-family: lotagrotesque-regular, "Source Sans Pro", -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Segoe UI", "Trebuchet MS", Arial, Helvetica, system-ui, sans-serif;
}

strong#statvalue {
    font-size: 122%;
}

strong#statunit {
    font-size: 122%;
}

/* Link style */
.lp-text a,
.lp-text-react a,
.lp-headline a,
.lp-text a>span,
.lp-text-react a>span,
.lp-headline a>span {
    text-decoration: none;
}

.lp-text span[style*="color: rgba(0, 120, 165, 1)"] a,
.lp-text-react span[style*="color: rgba(0, 120, 165, 1)"] a,
.lp-headline span[style*="color: rgba(0, 120, 165, 1)"] a,
.lp-text a>span[style*="color: rgba(0, 120, 165, 1)"],
.lp-text-react a>span[style*="color: rgba(0, 120, 165, 1)"],
.lp-headline a>span[style*="color: rgba(0, 120, 165, 1)"] {
    color: #0078A5;
}

.lp-text span[style*="color: rgba(0, 120, 165, 1)"] a:hover,
.lp-text-react span[style*="color: rgba(0, 120, 165, 1)"] a:hover,
.lp-headline span[style*="color: rgba(0, 120, 165, 1)"] a:hover,
.lp-text a>span[style*="color: rgba(0, 120, 165, 1)"]:hover,
.lp-text-react a>span[style*="color: rgba(0, 120, 165, 1)"]:hover,
.lp-headline a>span[style*="color: rgba(0, 120, 165, 1)"]:hover {
    color: #24688D;
}

@font-face {
    font-family: 'icomoon';
    src: url('https://cf-static-public.lokalguiden.se/images/fonts/969403dc03c265a4047798a42834981d.ttf') format('truetype');
    font-weight: 400;
}
